* {
  margin: 0px;
}

body {
  margin: 0px;
  background-color: #bcccc0;
}

@font-face {
  font-family: "RussoOne";
  src: url("/fonts/RussoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
